@model List<Movies> // MUST GO TOLIST OR IT WILL NOT WORK

<table class="table table-striped table-hover table-bordered align-middle table-sm caption-top">
    <caption>Joel Hilton Movie Collection</caption>

    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Rating</th>
            <th class="text-end">Year</th>
            <th>Director</th>
            <th class="text-center">Copied To Plex?</th>
            <th>Category</th>
            <th>Notes</th>
            <th>Edit Movie</th>
            <th>Delete Movie</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model) // Loop through the database, and using the Model I can access the column name using x.
        {
            <tr>
                
                <td class="fw-semibold">@x.Title</td>
                <td>@(string.IsNullOrWhiteSpace(x.Rating) ? "—" : x.Rating)</td>
                <td class="text-end">@x.Year</td>
                <td>@(string.IsNullOrWhiteSpace(x.Director) ? "—" : x.Director)</td>

                <td class="text-center">
                    @if (x.CopiedToPlex)
                    {
                        <span class="badge text-bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge text-bg-danger">No</span>
                    }
                </td>

                <td>@(x.Category?.CategoryName ?? "—")</td>
                <td>@(string.IsNullOrWhiteSpace(x.Notes) ? "—" : x.Notes)</td>


                <td><a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieID">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
